<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen" title="no title">
    <script src="../js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-4 col-md-4">
          <nav class="navbar navbar-default" style="padding: 50px; margin-top: 50%">
              <center><h1>SysRádio</h1></center><br>
							<div>
								<form>
									<p>
										<input class="form-control form-lg" type="txt" placeholder="Usuário">
									</p>
									<p>
										<input class="form-control " type="password"  placeholder="Senha">
									</p>
									<button class="btn btn-primary btn-block">
										<small class="glyphicon glyphicon-log-in"></small>
										<b>ENTRAR</b>
									</button>
									<br/><br/>
								</form>
							</div>
						</nav>
        </div>
      </div>
    </div>
  </body>
</html>
